<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title><%- pageTitle %></title>

    <link rel="shortcut icon" href="https://cdn.glitch.com/221a0af6-6816-4910-8a4a-306d1a40ec04%2Fbongo.png?v=1567258080966" />
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
</head>
<body>
    <%- include('partials/navbar.ejs') %>

    <div class="page-content">
      <h1>404.</h1><br><h3>Why are you Searching for a thing that doesn't Exist?</h4>
    </div>
  <footer>
		<% include ./partials/footer %>
	</footer>
</body>
</html>
